.message {
    display: flex;
    gap: 5px;
}

img {
    align-self: flex-end;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px black solid;
    z-index: 1;
}

.messageWindow {
    max-width: 255px;
    word-wrap: break-word;
    /*line-height: 24px;*/
    position: relative;
    padding: 5px 15px;
    border-radius: 5px;
    background: #E5E5EA;
    color: mediumpurple;
    align-self: flex-start;
}

.messageWindow::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 25px;
    left: -7px;
    width: 20px;
    background-color: #E5E5EA;
    border-bottom-right-radius: 10px 14px;
}

.messageWindow::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 25px;
    left: -26px;
    width: 26px;
    background-color: #2c3e50;
    border-bottom-right-radius: 10px;
    z-index: 0;
}

.name {
    font-size: 18px;
    color: rebeccapurple;
}

.messageTime {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
    height: 12px;
    font-size: 12px;
    color: grey;
    margin: 3px;
}
