.superInput {
    margin-left: 10px;
    margin-right: 5px;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.errorInput {
    /*border: 3px solid lime;*/
    /*background: red;*/
    border: 1px solid red;
}

.error {
    color: red;
}